
/* AUDIO */

.eeSFL_AudioPlayerWrap {
	width: 98%;
	margin: .5em 0;
}

.eeSFL_AudioPlayer {
	height: auto;
	width: 100%;
}


/* VIDEO */
.eeSFLM_Modal {
	display: none;
}
.eeSFLM_Modal .eeSFLM_ModalBackground {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.eeSFLM_Modal .eeSFLM_ModalBody {
	position: fixed;
	z-index: 100;
	top: 2em;
	bottom: 2em;
	right: 2%;
	left: 2%;
	padding: 2em;
/* 	background-color: rgba(255, 255, 255, 0.8); */
}
.eeSFLM_Modal .eeSFLM_ModalClose {
	position: absolute;
	top: 1em;
	right: 1em;
	padding: 0;
	font-size: 1.75em;
	height: 1.5em;
	width: 1.5em;
	line-height: 0;
}
#eeSFLM_Video {
	text-align: center;
}
#eeSFLM_Video video {
	display: inline-block;
	margin-left: 0 auto;
	max-width: 80%;
}